/* Global CSS */

@font-face {
  font-family: 'Dashboard';
  src: url(./fonts/glyphicons-halflings-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(./fonts/firasans-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-y: scroll !important;
  font-family: "Fira Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
}

.noselect:focus {
  outline: none;
}

/* Boostrap CSS overrides */

.tooltip .tooltip-inner {
  font-size: 0.65rem;
  text-align: left;
}

.searchbar .form-control {
  border: 1px solid #6a7e92;
  background-color: #57636F;
  font-size: 0.85rem;
  color: #ffffff;
}

.searchbar .form-control:focus {
  color: #ffffff;
  background-color: #57636F;
}

.searchbar .form-control {
  padding: 0rem 0.75rem;
  height: auto;
}

.card.bg-success .progress {
  background-color: #58a558;
}

.card.bg-danger .progress {
  background-color: #b54e4e;
}

.card.bg-warning .progress {
  background-color: #cc9952;
}

.card.bg-info .progress {
  background-color: #499eb7;
}

.checks .bg-success {
  color: #ffffff !important;
  background-color: #58b858 !important;
  border-color: #4cae4c !important;
}

.checks .bg-warning {
  color: #ffffff !important;
  background-color: #f0a63c !important;
  border-color: #eea236 !important;
}

.checks .bg-danger {
  color: #ffffff !important;
  background-color: #de4f4b !important;
  border-color: #d43f3a !important;
}

.checks .bg-info {
  color: #ffffff !important;
  background-color: #31b0d5 !important;
  border-color: #269abc !important;
}

.checks .progress .progress-bar {
  position: relative;
  background-color: #83d383 !important;
  font-size: 0.55rem;
}

.checks .progress .progress-bar.warn {
  position: relative;
  font-size: 0.55rem;
}

.checks .card .card-title {
  font-size: 0.87rem;
}

.checks .card .data-table .progress {
  height: 0.50rem;
}

.checks .data-table .bg-info {
  background-color: #5bc0de !important;
}

.checks .data-table .progress {
  margin-right: 0.45rem;
  margin-top: 0.35rem;
}

.checks .data-table .btn-sm {
  padding: 0;
}

.progress span {
  position: absolute;
  width: 100%;
}

#alerts {
  position: fixed;
  z-index: -1;
  padding: 0.30rem;
}

#alerts .alert {
  font-size: 0.70rem;
  min-width: 18.2rem;
}

/* Dashboard CSS */

.topbar {
  background-color: #3d4a57;
  color: #ffffff;
  font-size: 1.35rem;
}

.topbar .icon {
  font-family: 'Dashboard';
}

.topbar .text {
  vertical-align: text-bottom;
}

.statusbar {
  background-color: #647484;
  font-size: 1.15rem;
}

.statusbar .status.up {
  color: #73C063;
  text-shadow: 0px 0px 2px #45505A;
}

.statusbar .status.warn {
  color: #f0ad4e;
  text-shadow: 0px 0px 2px #45505A;
}

.statusbar .status.down {
  color: #DB7878;
  text-shadow: 0px 0px 2px #45505A;
}

.statusbar .status.icon {
  margin: 2px 4px 2px 8px;
  font-family: 'Dashboard';
  font-size: 1.45rem;
}

.statusbar .status.text {
  vertical-align: text-bottom;
}

.statusbar .datasources {
  color: #45505A;
  font-size: 0.85rem;
}

.statusbar .datasources .success {
  color: #73C063;
  text-shadow: 0px 0px 2px #45505A;
}

.statusbar .datasources .error {
  color: #DB7878;
  text-shadow: 0px 0px 2px #45505A;
}

.statusbar .datasources .error:hover {
  cursor: pointer;
}

.statusbar .datasources .disabled {
  color: #45505A;
  text-shadow: 0px 0px 2px #6685A1;
}

.statusbar .datasources .icon {
  font-family: 'Dashboard';
}

.statusbar .datasources .text {
  vertical-align: text-bottom;
}

.checks {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(315px,1fr));
  grid-auto-rows: 25px;
}

.checks .table {
  font-size: 0.64rem;
  margin-bottom: 0rem;
}

.checks .table th, .checks .table td {
  padding: 0rem;
  border-top: none;
}

.checks .icon {
  font-family: 'Dashboard';
  font-size: 0.65rem;
}

.checks .data-table {
  display: grid;
  grid-template-columns: 3fr 16fr 19fr 16fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
  font-size: 0.64rem;
  margin-bottom: 0rem;
}

.checks .remove {
  display: none !important;
}

.checks .hide {
  visibility: hidden !important;
}
